<!-- user_student_update.html -->
{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}My Profile - Skillup 24{% endblock %}

{% block dashboard_content %}
<!-- Dashboard Content Start -->
<div class="dashboard-content">

    <div class="container">
        <h4 class="dashboard-title">Settings</h4>

        <!-- Dashboard Settings Start -->
        <div class="dashboard-settings">

            <!-- Dashboard Tabs Start -->
            <div class="dashboard-tabs-menu">
                <ul>
                    <li><a id="profile-tab" class="active" href="#">Profile</a></li>
                    <li><a id="change-password-tab" href="#">Change Password</a></li>
                </ul>
            </div>
            <!-- Dashboard Tabs End -->

            <div id="profile-content">
                <form method="POST" enctype="multipart/form-data" action="{% url 'account_app:update_student_and_profile_by_user' %}">
                    {% csrf_token %}
                    {% include "account_app_partials/alert_message.html" %}
                    <div class="row gy-6">
                        <div class="col-lg-6">

                            <!-- Dashboard Settings Info Start -->
                            <div class="dashboard-content-box">

                                <h4 class="dashboard-content-box__title">Contact information</h4>
                                <p>Provide your details below to create your account profile</p>

                                <div class="row gy-4">
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">First name</label>
                                            <input type="text" class="form-control" name="first_name" value="{{ student.first_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Middle name</label>
                                            <input type="text" class="form-control" name="middle_name" value="{{ student.middle_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Last name</label>
                                            <input type="text" class="form-control" name="last_name" value="{{ student.last_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Gender</label>
                                            <select class="form-control" name="gender">
                                                <option value="male" {% if student.gender == 'male' %}selected{% endif %}>Male</option>
                                                <option value="female" {% if student.gender == 'female' %}selected{% endif %}>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Address</label>
                                            <input type="text" class="form-control" name="address" value="{{ student.address }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Date of Birth</label>
                                            <input type="date" class="form-control" name="date_of_birth" value="{{ student.date_of_birth|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Phone Number</label>
                                            <input type="text" class="form-control" name="phone_number" value="{{ student.phone_number }}">
                                        </div>
                                    </div>    
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Major</label>
                                            <input type="text" class="form-control" name="major_or_department" value="{{ student.major }}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Bio</label>
                                            <textarea class="form-control" name="bio">{{ profile.bio }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Facebook</label>
                                            <input type="text" class="form-control" name="facebook" value="{{ profile.facebook }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Twitter</label>
                                            <input type="text" class="form-control" name="twitter" value="{{ profile.twitter }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">LinkedIn</label>
                                            <input type="text" class="form-control" name="linkedIn" value="{{ profile.linkedIn }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Github</label>
                                            <input type="text" class="form-control" name="github" value="{{ profile.github }}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Dashboard Settings Info End -->
                             

                        </div>
                        <div class="col-lg-6">

                            <!-- Dashboard Settings Info Start -->
                            <div class="dashboard-content-box">

                                <h4 class="dashboard-content-box__title">Photo</h4>
                                <p>Upload your profile photo.</p>

                                <div id="dashboard-profile-cover-photo-editor" class="dashboard-settings-profile">

                                    <!-- Profile Picture Upload -->
                                    <input id="dashboard-profile-photo-dialogue-box" class="dashboard-settings-profile__input" type="file" name="profile_picture" accept=".png,.jpg,.jpeg" style="display:none;" />
                                
                                    <!-- Cover Photo Upload -->
                                    <input id="dashboard-cover-photo-dialogue-box" class="dashboard-settings-profile__input" type="file" name="cover_photo" accept=".png,.jpg,.jpeg" style="display:none;" />
                                
                                    <!-- Cover Photo Area -->
                                    <div id="dashboard-cover-area" class="dashboard-settings-profile__cover" data-fallback="{% static 'home_page_app/images/cover-photo.jpg' %}" style="background-image:url({% if cover_photo_url %}{{ cover_photo_url }}{% else %}{% static 'home_page_app/images/cover-photo.jpg' %}{% endif %})">
                                        <span class="cover-deleter">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                        <div class="overlay">
                                            <button id="cover-photo-uploader" class="cover-uploader" type="button">
                                                <i class="fas fa-camera"></i>&nbsp;
                                                <span>Update Cover Photo</span>
                                            </button>
                                        </div>
                                    </div>
                                
                                    <!-- Profile Photo Area -->
                                    <div id="profile-photo" class="dashboard-settings-profile__photo" style="background-image:url({% if profile_picture_url %}{{ profile_picture_url }}{% else %}{% static 'home_page_app/images/avatar-placeholder.jpg' %}{% endif %})">
                                        <div class="overlay">
                                            <button id="profile-photo-uploader" class="border-0 bg-transparent" type="button">
                                                <i class="fas fa-camera text-white"></i>
                                            </button>
                                        </div>
                                    </div>
                                
                                
                                    <div id="photo-meta-area" class="dashboard-settings-profile__photo-meta">
                                        <img src="{% static 'home_page_app/images/info-icon.svg' %}" alt="icon" />
                                        <span>Profile Photo Size: <strong>200x200</strong> pixels,</span>
                                        <span>Cover Photo Size: <strong>700x430</strong> pixels,</span>
                                        <span class="loader-area">Saving&hellip;</span>
                                    </div>
                                
                                </div>
                                
            
                                
                                
                                
                                
                                

                                <div class="dashboard-settings-profile-info">
                                    <label class="dashboard-settings-profile-info__display-name">Display name publicly as</label>
                                    <select>
                                        <option>student</option>
                                        <option>{{student.first_name}}</option>
                                        <option>{{student.last_name}}</option>
                                        <option selected="selected">{{student.first_name}} {{student.last_name}}</option>
                                        <option>{{student.last_name}} {{student.first_name}}</option>
                                    </select>
                                    <p class="dashboard-settings-profile-info__description">The display name is shown in all public fields, such as the author name, instructor name, student name, and name that will be printed on the certificate.</p>
                                </div>

                            </div>
                            <!-- Dashboard Settings Info End -->

                        </div>
                    </div>

                    <div class="dashboard-settings__btn">
                        <button class="btn btn-primary btn-hover-secondary">Update Profile</button>
                    </div>
                </form>
            </div>

            <div id="change-password-content" style="display:none;">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="dashboard-content-box dashboard-settings__info">
                                <h4 class="dashboard-content-box__title">Change Password</h4>
                                <div class="row gy-4">
                                    <div class="col-md-12">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Current Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">New Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dashboard-content__input">
                                            <label class="form-label-02">Confirm New Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-settings__btn">
                        <button class="btn btn-primary btn-hover-secondary">Change Password</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const profileTab = document.getElementById('profile-tab');
        const changePasswordTab = document.getElementById('change-password-tab');
        const profileContent = document.getElementById('profile-content');
        const changePasswordContent = document.getElementById('change-password-content');

        profileTab.addEventListener('click', function() {
            profileTab.classList.add('active');
            changePasswordTab.classList.remove('active');
            profileContent.style.display = 'block';
            changePasswordContent.style.display = 'none';
        });

        changePasswordTab.addEventListener('click', function() {
            changePasswordTab.classList.add('active');
            profileTab.classList.remove('active');
            profileContent.style.display = 'none';
            changePasswordContent.style.display = 'block';
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const profileUploader = document.getElementById('profile-photo-uploader');
        const profileInput = document.getElementById('dashboard-profile-photo-dialogue-box');
        const profilePhoto = document.getElementById('profile-photo');
        const loaderArea = document.querySelector('.loader-area');

        const coverUploader = document.getElementById('cover-photo-uploader');
        const coverInput = document.getElementById('dashboard-cover-photo-dialogue-box');
        const coverPhoto = document.getElementById('dashboard-cover-area');

        // Profile Picture Upload
        profileUploader.addEventListener('click', function() {
            profileInput.click();
        });

        profileInput.addEventListener('change', function() {
            const formData = new FormData();
            formData.append('profile_picture', profileInput.files[0]);

            loaderArea.style.display = 'inline-block';

            fetch("{% url 'account_app:upload_profile_picture' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                loaderArea.style.display = 'none';
                if (data.profile_picture_url) {
                    profilePhoto.style.backgroundImage = `url(${data.profile_picture_url})`;
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                loaderArea.style.display = 'none';
                console.error('Error uploading profile picture:', error);
            });
        });

        // Cover Photo Upload
        coverUploader.addEventListener('click', function() {
            coverInput.click();
        });

        coverInput.addEventListener('change', function() {
            const formData = new FormData();
            formData.append('cover_photo', coverInput.files[0]);

            loaderArea.style.display = 'inline-block';

            fetch("{% url 'account_app:upload_cover_photo' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                loaderArea.style.display = 'none';
                if (data.cover_photo_url) {
                    coverPhoto.style.backgroundImage = `url(${data.cover_photo_url})`;
                } else {
                    alert(data.error);
                }
            })
            .catch(error => {
                loaderArea.style.display = 'none';
                console.error('Error uploading cover photo:', error);
            });
        });
    });
</script>




{% endblock %}
