{% load static %}
<div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu" style="background-image: url('{% static "home_page_app/images/mobile-bg.jpg" %}');">
    <div class="offcanvas-header bg-white">
        <div class="offcanvas-logo">
            <a class="offcanvas-logo__logo" href="#"><img src="{% static "home_page_app/images/logo.png" %} " width="296" height="100" alt="Logo"></a>
        </div>
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li><a class="active" href="{% url 'home_page_app:home' %}">
                    <span>Home</span></a>
                </li>

                <li>
                    <a href="#"><span>Category</span></a>
                    <ul class="sub-menu">
                        <li><a href="course-grid-01.html"><span>Grid Basic Layout</span></a></li>
                        <li><a href="course-grid-02.html"><span>Grid Modern Layout</span></a></li>
                        <li><a href="course-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                        <li><a href="course-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                        <li><a href="course-list.html"><span>List Basic Layout</span></a></li>
                        <li><a href="course-list-left-sidebar.html"><span>List Left Sidebar</span></a></li>
                        <li><a href="course-list-right-sidebar.html"><span>List Right Sidebar</span></a></li>
                        <li><a href="course-category.html"><span>Category Page</span></a></li>
                        <li>
                            <a href="#"><span>Single Layout</span></a>
                            <ul class="sub-menu">
                                <li><a href="course-single-layout-01.html"><span>Layout 01</span></a></li>
                                <li><a href="course-single-layout-02.html"><span>Layout 02</span></a></li>
                                <li><a href="course-single-layout-03.html"><span>Layout 03</span></a></li>
                                <li><a href="course-single-layout-04.html"><span>Layout 04</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>   
                    <a class="" href="#">
                        <span>Features</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:event_list' %}"><span>Events</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:zoom_meeting_list' %}"><span>Zoom Meetings</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#">
                        <span>Pages</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class=""><span>About us</span></a></li>
                        <li><a class=""><span>Contact us</span></a></li>
                        <li><a class=""><span>Membership plans</span></a></li>
                        <li><a class=""><span>FAQs</span></a></li>
                        <li><a class=""><span>Our Instructors</span></a></li>
                        <li><a class=""><span>Courses</span></a></li>
                        <li><a class="" href="#"><span>Instructor Dashboard</span></a></li>
                        <li>
                            <a class="" href="#"><span>Student Dashboard</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Header User Button Start -->
    <div class="offcanvas-user d-lg-none">
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__login btn btn-secondary btn-hover-secondarys" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
        </div>
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
        </div>
    </div>
    <!-- Header User Button End -->

</div>