{% load static %}
<div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu" style="background-image: url('{% static "home_page_app/images/mobile-bg.jpg" %}');">
    <div class="offcanvas-header bg-white">
        <div class="offcanvas-logo">
            <a class="offcanvas-logo__logo" href="#"><img src="{% static "home_page_app/images/logo.png" %} " width="296" height="100" alt="Logo"></a>
        </div>
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li><a class="active" href="{% url 'home_page_app:home' %}">
                    <span>Home</span></a>
                </li>

                <li>
                    <a href="#"><span>Category</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url "home_page_app:course_category" 1 %}"><span>Diloma in Architectural Designing</span></a></li>
                        <li><a href="{% url "home_page_app:course_category" 2 %}"><span>Diloma in Structural Engineering</span></a></li>
                        <li><a href="{% url "home_page_app:course_category" 3 %}"><span>Diloma In BIM Manager</span></a></li>
                        <li><a href="{% url "home_page_app:course_category" 4 %}"><span>Diloma in Construction magagment skills</span></a></li>
                        <li><a href="{% url "home_page_app:course_category" 5 %}"><span>Diloma in computer base</span></a></li>
                        <li><a href="{% url "home_page_app:course_category" 6 %}"><span>Computerized Accounting</span></a></li>
                    </ul>
                </li>
                <li>   
                    <a class="" href="#">
                        <span>Features</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:event_list' %}"><span>Events</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:zoom_meeting_list' %}"><span>Zoom Meetings</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="#">
                        <span>Pages</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="" href="{% url 'home_page_app:about' %}"><span>About us</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:contact' %}"><span>Contact us</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:membership' %}"><span>Membership plans</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:faqs' %}"><span>FAQs</span></a></li>
                        <li><a class="" href="{% url 'home_page_app:instructor_list' %}"><span>Our Instructors</span></a></li>
                        <li><a class="" href="{% url "home_page_app:course_list" %}"><span>Courses</span></a></li>
                        <li><a class="" href="#"><span>Instructor Dashboard</span></a></li>
                        <li>
                            <a class="" href="#"><span>Student Dashboard</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Header User Button Start -->
    <div class="offcanvas-user d-lg-none">
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__login btn btn-secondary btn-hover-secondarys" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
        </div>
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
        </div>
    </div>
    <!-- Header User Button End -->

</div>