{% extends "home_base.html" %}

{% load static %}
{% block css_files %}

{% endblock %}


{% block main %}
<main class="main-wrapper">

    <!-- Header Start -->
    {% block header %}
    {% include 'home_page_partials/main_header.html' %}
    {% endblock  %}
    <!-- Header End -->

    <!-- Banner Start -->
    {% block banner %}
    <div class="page-banner bg-color-05">
        <div class="page-banner__wrapper">
            <div class="container">


                <!-- Page Banner Caption Start -->
                <div class="page-banner__caption text-center">
                    <h2 class="section-title__title">Fee Payment <mark>Procedure</mark> </h2>
                </div>
                <!-- Page Banner Caption End -->

            </div>
        </div>
    </div>
    {% endblock  %}
    <!-- Banner End -->


    <!-- Offcanvas Start -->
    {% block offcanvas %}
    {% include "home_page_partials/offcanvas.html" %}
    {% endblock  %}
    <!-- Offcanvas End -->

     <!-- Checkout Section Start -->
     <div class="checkout-section section-padding-01">
        <div class="container custom-container">

            <div class="row gy-8">
                
                <div class="col-lg-12">
                    <!-- Partners Start -->
                    <div class="partners-seaction section-padding-01">
                        <div class="container">
                            <div class="row gy-8 gx-8 align-items-center justify-content-center">
                         
                                <div class="col-lg-12">

                                    <!-- Partners Logo Wrapper Start -->
                                    <div class="partner-logo-wrapper" data-aos="fade-up" data-aos-duration="1000">

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/evc-plus2.png" %}" alt="Brand Logo" width="68" height="92">
                                            
                                                <p> Evc Plus </p>
                                                <h5>*712*615272255*$#</h5>

                                            </div>
                                        </div>

                                        <!-- Partners Logo End -->

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/eDahab_Green-23757f08.svg"%}" alt="Brand Logo" width="105" height="108">
                                                <p> E dahab </p>
                                                <h5>*110*621615272255*$#</h5>
                                            </div>
                                        </div>
                                        <!-- Partners Logo End -->

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/sahal.png"%}" alt="Brand Logo" width="78" height="91">
                                                <p> Sahal </p>
                                                <h5>*883*0615272255*$#</h5>
                                            </div>
                                        </div>
                                        <!-- Partners Logo End -->

                                        <!-- Partners Logo Start -->
                                        <div class="partner-logo">
                                            <div class="partner-logo__logo">
                                                <img src="{% static "home_page_app/images/Zaad.png" %}" alt="Brand Logo" width="122" height="70">
                                                <p> Zaad </p>
                                                <h6>*880*0615272255*$#</h6>
                                            </div>
                                        </div>
                                        <!-- Partners Logo End -->

                                    </div>
                                    <!-- Partners Logo Wrapper End -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Partners End -->
                </div>
            </div>

        </div>
    </div>
    <!-- Checkout Section End -->


    <!-- Footer Start -->
    {% block footer %}
    {% include 'home_page_partials/main_footer.html' %}
    {% endblock  %}
    <!-- Footer End -->

   

    {% include "home_page_partials/arrow_up_down.html" %}

    


</main>
{% endblock %}
